<app-navbar></app-navbar>
<div class="container">
<div class="div-per">
    <h2 class="bg-secondary text-white h-per">
      EXISTING  COA
    </h2>
</div>
<div class="row">
    <div class="col-md-12"><button class="btn btn-secondary" (click)="getCOA()">Refresh</button></div>
    &nbsp;
    <div class="col-md-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-sm table-hover">
        <thead>
          <tr>
            <th><strong>COA ID</strong></th>
            <th><strong>Date</strong></th>
            <th><strong>SAP Delivery No.</strong></th>
            <th><strong>Customer Name</strong></th>
            <th><strong>Item Name</strong></th>
            <th><strong>Is Approved</strong></th>
            <th><strong>Approved By</strong></th>
            <th><strong>Action</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let idt of coa">
              <td>
                  {{idt.COA_ID}}
                </td>
            <td>
                {{idt.DocDate | date:'dd-MM-yyyy'}}
              </td>
              <td>
                {{idt.DocNum}}
              </td>
              <td>
                {{idt.CustomerName}}
              </td>
              <td>
                {{idt.ItemName}}
              </td>
            <td>
                {{idt.IsApproved ? 'Yes':'No'}}
            </td>
            <td>
                {{idt.ApprovedBy}}
              </td>
            <td>
              <a class="btn btn-primary text-white" [routerLink]="['/coa', idt.COA_ID]" >
                <i class="fas fa-eye"></i>
              </a>
            </td>
        
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>